a, a:hover {
  color: #016FAE;
}


/* Back to top button */
.back-to-top {
  background: #016fae;
  color: #fff;
}


.back-to-top:focus {
  background: #016FAE;
  color: #fff;
}

.back-to-top:hover {
  background: #016FAE;
  color: #fff;
}

.navbar-default {
  background-color: #fff;
  width: 1000px;


}

.form-control:focus {
  border-color: #016FAE;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #016FAE;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #016FAE;
}

.service .carousel-indicators .active {
  background: #016FAE;
}

.btn-theme {
  background: #016FAE;
}

.contact-widget i {
  color: #016FAE;
}
